/* Formulário de inclusão */
.formulario {
    border: 1px solid #005e99;
    padding: 15px;
    text-align: left;
}

.titulo-formulario {
    margin-bottom: 15px;
    color: #003c5e;
}

label {
    display: block;
    margin-top: 8px;
}

.campo {
    width: 100%;
    padding: 6px;
    border: 1px solid #999;
    border-radius: 4px;
    margin-top: 3px;
}

.campo-texto {
    width: 100%;
    height: 120px;
    padding: 6px;
    border: 1px solid #999;
    border-radius: 8px;
    resize: none;
    margin-top: 3px;
}

.centralizar {
    text-align: center;
}

.botao-salvar {
    background-color: #4ea4e6;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}
